.Input{
    background: #F1F3FD;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 17px;
    padding: 1em 1.2em;
    margin-top: 1em;
}

.Input:focus{
    outline: none;
}

.Input::placeholder{
    color: #C5CCEC;
}